div.day {
    padding: 0 15px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 1px 2px;
    color: black;
    width: 120px;
    font-size: 13px;
    line-height: 1.6;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
    }
}

div.today {
    background-color: rgb(2, 136, 247);
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

div.highlighted-day {
    outline: 2px solid rgb(2, 136, 247);
}

div.non-highlighted-day {
    outline: 1px solid rgb(204, 204, 204);
}
