section#hours {
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 5px 0;

    div.first {
        border-right: 2px solid gray;
    }

    div#specific {
        // border: 1px solid red;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(24, 1fr);
        gap: 10x;
        // padding: 10px;
        overflow: hidden;

        div.specific-day {
            text-align: center;
            border-right: 1px solid gray;

        }
    }
}