main {
    padding: 0 20px;

    mat-tab-group {
        mat-tab {
            overflow-x: hidden;
        }
    }

    div#calendar {
        background-color: rgb(255, 255, 255);
        margin-top: 5px;
        border: 1px solid rgb(160, 159, 159);
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
        display: flex;

        div#days {
            display: grid;
            gap: 10px;

            div.day {
                padding: 15px;
                border: 1px solid rgb(204, 204, 204);
                background-color: rgb(255, 255, 255);
                text-shadow: rgb(255, 255, 255) 1px 1px 2px;
                font-weight: bold;
                color: rgb(0, 0, 0);
                display: inline-block;
                max-width: 250px;
                line-height: 1.6;
            }

            div.today {
                background-color: rgb(2, 136, 247);
                color: #fff;
                font-weight: bold;
                text-shadow: 1px 1px 1px rgb(0, 0, 0);
            }
        }

        hr {
            margin: 0;
            margin-left: 30px;
        }

        section#data {
            width: 100%;
            margin-left: 20px;
        }
    }
}

.day {
    padding: 0 15px;
    text-shadow: rgb(255, 255, 255) 1px 1px 2px;
    color: rgb(0, 0, 0);
    width: 120px;
    font-size: 13px;
    line-height: 1.6;
    border-radius: 6px;
    height: fit-content;

    border-radius: 6px;

    background-color: rgb(240, 247, 255);
    color: rgb(75, 110, 184);
    border: 1px solid rgb(205, 217, 232);

    &:hover {
        cursor: pointer;
    }
}

.highlighted-day {
    border: 2px solid rgb(2, 136, 247);
    border-radius: 6px;
    height: fit-content;
    box-shadow: none;
}

.today {
    background-color: rgb(2, 136, 247);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}