<main>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Week">
            <div id="calendar">
                <div id="days">
                    <app-day-in-week class="day"
                                    *ngFor="let item of daysHere; let i = index"
                                    [theDay]="item"
                                    (receivedDate)="receiveDate($event)"
                                    [ngClass]="{'highlighted-day': isSelected(i), 'today': isToday(item.date)}"
                                    (click)="switchDay(i)">

                    </app-day-in-week>
                </div>
                <hr>
                <section id="data">
                    <app-weather-table [setDate]="setDay" (chartData)="getChartData($event)" (pageIndex)="getPageIndex($event)"/>
                </section>
            </div>
        </mat-tab>

        <mat-tab label="Chart">
            <app-chart [data]="chartData"/>
        </mat-tab>

        <mat-tab label="Heat index calculator">
            <app-heat-index-calculator/>
        </mat-tab>
    </mat-tab-group>
</main>