section.chart-container {
    width: 80%;
    height: fit-content;
    margin: 20px auto 0 auto;

    h2 {
        margin-bottom: 0;
        color: rgb(75, 110, 184);
    }
}

.mat-mdc-tab-body-content {
    visibility: visible;
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}